.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
}

.menu {
  display:block; 
  position: absolute;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
}

.heading {
  font-size: 2rem; 
  text-align: center;
  flex-grow: 1;
  
}

.topnav > a {
  margin-right: 10px; /* Ensure spacing between icons */
  color: black;
}

.topnav > button {
  margin-right: 0px; /* Ensure spacing between icons */
  color: black;
}

.topnav .user-cart-icons img {
  height: 28px; 
  width: 28px;
}

.user-cart-icons {
  display: flex;
  align-items: center;
}



  /* Responsive Styles */
@media screen and (max-width: 768px) {

  .topnav { 
    align-items: center;
    justify-content: space-between;
    padding:10px;
    width:100%;
  }
  .L1{
    display: none;
  }
  
  .menu-toggle {
    font-size: 200% !important
  }
  
  .menu {
    top: 4.079rem!important; 
    width: 100% !important;

  }
  .menu li {
    margin: 4vw 0!important;
  }
  
  .heading {
    font-size: 4vw!important; 
    text-align: center;
    flex-grow: 1;
    
  }
  
  .topnav > a {
    margin-right: 10px; /* Ensure spacing between icons */
    color: rgb(140, 50, 60)!important;
    font-size: 33vw!important;
    font-weight:900!important;
  }
  
  .topnav .user-cart-icons img {
    height: auto; /* Reduce the size of Login and Cart icons */
    width: 4vw;
  }
  
}




@media screen and (min-width: 769px) and (max-width: 1125px) {
  .topnav {
    align-items: center;
    justify-content: space-between;
    padding:10px;
    width: 100%;
   
  }
  .L1{
    display: none;
  }
  
  .menu-toggle {
    font-size: 200% !important
  }
  
  .menu {
    top: 4.079rem!important; /* Position below the header */
    width: 100% !important;

  }
  .menu li {
    margin: 4vw 0!important;
  }
  
  .heading {
    font-size: 4vw!important; /* Increase the size of the heading */
    text-align: center;
    flex-grow: 1;
    
  }
  
  .topnav > a {
    margin-right: 10px; /* Ensure spacing between icons */
    color: rgb(140, 50, 60)!important;
    font-size: 33vw!important;
    font-weight:900!important;
  }
  
  .topnav .user-cart-icons img {
    height: auto; 
    width: 4vw;
    
  }
  
}



