  /* General Styles */
  .home-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .topnav {
    position: fixed; /* Fix the nav bar to the top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(215, 206, 206, 0.8);
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .menu-toggle {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    display: block; /* Show menu toggle by default */
  }
  
  .menu {
    margin-top: 26px;
    display:block; /* Hide menu by default */
    position: absolute;
    top: 60px; /* Position below the header */
    left: 0;
    background: rgba(215, 206, 206, 0.8);
    width: 100%;
    text-align: center;
  }
  
  .menu.show {
    display: block; /* Show menu when open */
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }

  
  .heading {
    font-size: 24px;
    flex-grow: 1;
    color: black;
  }
  
  .icons {
    display: flex;
    gap: 15px; /* Space between icons */
  }
  
  .icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #ddd;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 730px;
    background-image: url('https://www.kosmeticaworld.com/files/2018/11/Fotolia_226436643_L.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    z-index: 0; /* Ensure background is behind the nav */
  }
  
  /* Responsive Styles */

  
  
  .video-container {
    display: flex;
    width: 100vw; /* רוחב של 100% מהחלון הנראה */
    height: 70vh; /* גובה של 100% מהחלון הנראה */
  }
  
  video {
    flex: 1; /* כל סרטון יתפוס חלק שווה מהאזור */
    width: 33.33%; /* כל סרטון יתפוס שליש מהרוחב */
    height:outo; /* סרטון יתפוס את כל גובה התיבה */
    object-fit: cover; /* שמירה על יחס ההיבט עם חיתוך */
    height: 100vh; 

  }
  #DivJUST{
    color: black;
    margin-top: 350px;
    padding-bottom:130px;
    margin-bottom:150px;
   
  }
  #PJUST1{
    text-align: center;
    display: block;
    margin-bottom: 15px;
    font-size:xx-large;
    letter-spacing: 10px;
    margin-top:-60px;
  

  }
  #PJUST2{
    text-align: center;
    font-size: small;
    letter-spacing: 5px;
   
  }

  /* File: src/components/ImageButtons.css */

.image-buttons-container {
  display: flex;
  justify-content:space-around; /* רווחים שווים בין התמונות */
  align-items: center; /* מרכז את התמונות אנכית בתוך ה-container */
  padding: 50px 15px; /* הוסף ריפוד מסביב ל-container */
  background: rgba(237, 235, 235, 0.8);
 margin-top: 30px;
 
}

.image-button {
  border: none; /* אין מסגרת סביב הכפתור */
  background: none; /* אין רקע לכפתור */
  cursor: pointer; /* הופך את הסמן ליד של לחיצה */
  padding: 0; /* מבטל ריפוד בכפתור */
  margin: 30px 10px; /* רווח קטן יותר בין הכפתורים */
  transition: transform 0.3s ease; /* מוסיף מעבר חלק */
}

.image-button img {
  width: 350px; /* קובע את הרוחב של התמונות */
  height: auto; /* שומר על יחס ההיבט של התמונה */

}

.image-button:hover {
  transform: scale(1.1); /* מגדיל את הכפתור ב-10% כאשר מרחפים מעליו */
}

.imageH{
  margin-top: -14px;
  letter-spacing: 4px;
  font-weight:100;
  font-size:10px;
}

.footer-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  direction: ltr; /* Left-to-right text direction */
  margin-top: 100px
}

.footer-container h2 {
  font-size: 2.1rem;
  color: #333;
  font-weight:bold;
}

.footer-container p {
  margin: 0;
  font-size:small;
  color: #555;
  font-weight:100;
  letter-spacing: 4px;
  margin-top:20px;
  
}

.social-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  width: 30px;
  height:auto;
  margin: 0 10px;
  transition: transform 0.3s ease; /* Transition for smooth scaling */
}

.social-icons img:hover {
  transform: scale(1.2); /* Scale the icon to 120% on hover */
}

.divider {
  margin: 0 10px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}


.whatsapp-button {
  position: fixed;
  bottom: 40px; /* המרחק מלמטה */
  right: 20px; /* המרחק מימין */
  z-index: 1000; /* לוודא שהאייקון מעל לתוכן אחר */
  margin-right:-10px;
}

.whatsapp-button img {
  width: 50px; /* רוחב התמונה */
  height: 50px; /* גובה התמונה */
  transition: border 0.3s ease; /* מעבר חלק */
}
/* אפקט ריחוף */
.whatsapp-button:hover img {
  border: 2px solid black; /* מסגרת שחורה */
  border-radius: 50%; /* מסגרת עגולה אם צריך */
}

.contact-address-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; /* מרכז את התוכן */
  padding: 20px;
  margin-top: 100px;
  background-color:rgba(231, 224, 224, 0.87);
  padding-bottom: 60px;
  padding-top: 60px;
}

.contact-section, .address-section {
  width: 45%; /* חלוקה שווה בין שני החלקים */
  text-align: center;
}
.contact-section, .address-section  {
  width: 45%; /* חלוקה שווה בין שני החלקים */
  text-align: center;
}

.Pf{
  color: #000000;
   text-align: center;
   margin-top: 11px;
   letter-spacing: 1px;
}

.Hf{
  margin-bottom: 16px;
  color: #000000;
 text-align: center;
 font-weight:bold;
  letter-spacing: 2px;
  font-size: 20px;
 
}


/* Responsive Styles */
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .video-container {
    display: flex; /* השתמש בפלקס כדי לשלוט בהצגת הסרטונים */
    flex-direction: column; /* סרטונים יהיו בעמודה אחת */
    margin-bottom:2rem;
  }

  video {
    display: none; /* הסתר את כל הסרטונים ברירת מחדל */
  }

  video:first-of-type {
    display: block; /* הצג רק את הסרטון הראשון */
    width: 100%; /* רוחב הסרטון לכל רוחב המסך */
    height: 145%; /* גובה בהתאם לרוחב */
  }


  #DivJUST{
   
   padding-bottom:0.5rem;
   margin-bottom:7rem;
  
  }
  #PJUST1{
   text-align: center;
   display: block;
   margin-bottom: 2rem;
   font-size:100%;
   letter-spacing: 0.9vw;
   margin-top:-3rem;
   
  }
 #PJUST2{
   text-align: center;
   font-size: 70%;
   letter-spacing: 0.9vw;
   position: static;
   width: 70%;
   margin-left:15%;
  }

 
  .image-button {
    width: 100%; /* תופס 80% מרוחב ה-container */
    max-width: 50vw; /* מקסימום רוחב עבור הכפתור */
    
  }
  .image-buttons-container {
    flex-direction: column; /* הכפתורים יהיו אחד מתחת לשני */
    align-items: stretch; /* הכפתורים יתפוס את כל הרוחב */
    align-items: center;
  }
  .image-button img {
    width: 100%; /* רוחב התמונה לכל רוחב הכפתור */
    max-width: 100%; /* התמונה לא תצא מעבר לרוחב הכפתור */
    height: auto; /* שומר על יחס ההיבט של התמונה */
  }
  


  .footer-container {
    text-align: center;
    padding-left:3vw;
    padding-right:3vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    direction: ltr; /* Left-to-right text direction */
    margin-top: 5rem;
  }
  
  .footer-container h2 {
    font-size: 5vw;
    color: #333;
    font-weight:bold;
    
  }
  
  .footer-container p {
    font-size:2.4vw;
    color: #555;
    font-weight:100;
    letter-spacing: 0.8vw;
    margin-top:2rem;
    margin-left:7%;
    margin-right:7%;
  }
  
  .social-icons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons img {
    width: 5vw;
    height:auto;
    margin: 0rem 2vw;
   
  }
  
  .divider {
    margin: 0rem 1vw;
    font-weight: bold;
    font-size: 3.5vw;
  }


  .whatsapp-button {
    bottom: 4rem; /* המרחק מלמטה */
    right: 7vw; /* המרחק מימין */
   
  }
  
  .whatsapp-button img {
    width: 9vw; /* רוחב התמונה */
    height: 3rem; /* גובה התמונה */
  
  }

  .contact-address-container {
    align-items: center;
    flex-direction: column; /* הכתובת ופרטי הקשר יהיו אחד מתחת לשני */
    padding:4rem 20vw;
    margin-top: 4rem; 
  }
  
  .contact-section, .address-section {
    width: 45%; /* חלוקה שווה בין שני החלקים */
    text-align: center;
    width: 100%; /* תופס את כל רוחב המסך */
    margin-bottom: 4rem; /* מרווח בין שני החלקים */
  }
  
  .Pf{
     margin-top: 1rem;
     letter-spacing: 0.2vw;
     font-size:2.2vw;
  }
  
  .Hf{
    margin-bottom: 1rem;
    letter-spacing: 0.5vw;
    font-size: 3vw;
  }
  

 
}










@media screen and (min-width: 769px) and (max-width: 1125px) {

  .video-container{
    width:145%;
  }

  #DivJUST{
    width:145%;
    padding-bottom:0.3rem;
    margin-bottom:9rem;
   
   }
   #PJUST1{
    text-align: center;
    display: block;
    margin-bottom: 3rem;
    font-size:3.7vw;
    letter-spacing: 0.99vw;
    margin-top:-1rem;
    
   }
  #PJUST2{
    text-align: center;
    font-size: 2vw;
    letter-spacing: 0.9vw;
    position: static;
    width:50%;
    margin-left:27%;
   }
 


   .image-button {
    width:90%; /* תופס 80% מרוחב ה-container */
    max-width: 50vw; /* מקסימום רוחב עבור הכפתור */
    
  }
  .image-buttons-container {
    align-items: stretch; /* הכפתורים יתפוס את כל הרוחב */
    align-items: center;
    width: 145%;
  }
  .image-button img {
    width: 100%; /* רוחב התמונה לכל רוחב הכפתור */
    max-width: 100%; /* התמונה לא תצא מעבר לרוחב הכפתור */
    height: auto; /* שומר על יחס ההיבט של התמונה */
  }


  .footer-container {
    text-align: center;
    padding-left:3vw;
    padding-right:3vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    direction: ltr; /* Left-to-right text direction */
    margin-top: 5rem;
    width: 145%;
  }
  
  .footer-container h2 {
    font-size: 4vw;
    color: #333;
    font-weight:bold;
    
  }
  
  .footer-container p {
    font-size:2vw;
    color: #555;
    font-weight:100;
    letter-spacing: 0.8vw;
    margin-top:2rem;
    margin-left:7%;
    margin-right:7%;
  }
  
  .social-icons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons img {
    width: 5vw;
    height:auto;
    margin: 0rem 2vw;
   
  }
  
  .divider {
    margin: 0rem 1vw;
    font-weight: bold;
    font-size: 3.5vw;
  }


  .whatsapp-button {
    bottom: 4rem; /* המרחק מלמטה */
    
   
  }
  
  .whatsapp-button img {
    width: 10vw; /* רוחב התמונה */
    height:auto; /* גובה התמונה */
  
  }

  .contact-address-container {
    align-items: center;
    padding:4rem 20vw;
    margin-top: 4rem; 
    width: 145%;
  }
  
  .contact-section, .address-section {
    width: 45%; /* חלוקה שווה בין שני החלקים */
    text-align: center;
    width: 100%; /* תופס את כל רוחב המסך */
    margin-bottom: 4rem; /* מרווח בין שני החלקים */
  }
  
  .Pf{
     margin-top: 1rem;
     letter-spacing: 0.2vw;
     font-size:2.2vw;
  }
  
  .Hf{
    margin-bottom: 1rem;
    letter-spacing: 0.5vw;
    font-size: 3vw;
  }

 }
























